body {
	background-color: #DDDCDC;
	margin: 0;
	}
form, input {
	margin: 1px auto 1px auto;
	}
textarea {
	resize: none;
	}
#block_login {
	width: 270px;
	height: 310px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -155px;
	margin-left: -135px;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	overflow: hidden;
	text-align: center;
	}
#block_login > .size {
	width: 270px;
	height: 110px;
	}
#block_registration {
	width: 270px;
	height: 310px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -155px;
	margin-left: -135px;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	overflow: hidden;
	text-align: center;
	}
#block_registration > .size {
	width: 270px;
	height: 70px;
	}
#block_top {
	position: absolute;
	top: 0;
	left: 0; right: 0;
	width: 99%;
	height: 50px;
	min-height: 50px;
	margin: auto;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	}
#block_top > #top_left {
	height: 100%;
	float: left;
	margin-left: 10px;
	}
#block_top > #top_right {
	height: 100%;
	float: right;
	}
#block_center {
	position: absolute;
	top: 60px; bottom: 60px;
	left: 0px; right: -2px;
	width: 99%;
	margin: auto;
	min-height: 50px;
	}
#block_center > #messages {
	width: 80%;
	height: 100%;
	overflow: auto;
	word-wrap: break-word;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	float: left;
	margin-right: 8px;
	margin-left: -2px;
	}
#block_center > #amessages {
	width: 80%;
	height: 100%;
	overflow: auto;
	word-wrap: break-word;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	float: left;
	margin-right: 8px;
	margin-left: -2px;
	}
#block_center > #online {
	width: auto;
	height: 100%;
	overflow: auto;
	word-wrap: break-word;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	}
#block_center > #smiles {
	position: absolute;
	top: 89%;
	width: 19%;
	height: 11%;
	overflow: auto;
	word-wrap: break-word;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	margin-left: -2px;
	}
#block_footer {
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	width: 99%;
	height: 50px;
	min-height: 50px;
	margin: auto;
	background-color: #DAE1E8;
	border: 1px solid #BAC5CF;
	box-shadow: 5px 5px 15px -2px #BAC5CF;
	}
.table_td {
	display: table-cell;
	}
.table_td.center {
	vertical-align: middle;
	text-align: center;
	}
.header_text {
	color: white;
	margin: 21px auto 21px auto;
	background: #677FB2;
	padding: 4px;
	}
.error_text {
	color: #A52A2A;
	font-style: italic;
	
	}
.info_text {
	color: #677FB2;
	}
.inline_text {
	display: inline;
	}
img.smile {
	width: 18px;
	height: 18px;
	margin-bottom: -4px;
	}
#textaria_mess {
	width: auto;
	height: 46px;
	margin-top: 2px;
	margin-left: 2px;
	float: left;
	}
#submit_exit {
	height: 46px;
	margin-right: 2px;
	}
.underline {
	text-decoration: underline;
	}
.submit_footer {
	height: 46px;
	margin-top: 2px;
	margin-left: 2px;
	float: left;
	}
